@page
@using AdressenMeister.Web.Models
@model AdminDelete
@{
    ViewData["Title"] = "Benutzer-Bereich";
    ViewBag.Mode = PageSection.User;
}

<div class="text-center">
    <h1 class="display-4">Willkommen zum AdressenMeister</h1>
    <p>Dein Benutzerbereich</p>
</div>