@page
@using AdressenMeister.Web.Models
@model AdminNew
@{
    ViewData["Title"] = "Admin-Bereich";
    ViewBag.Mode = PageSection.Admin;
}

<div class="text-center">
    <h1 class="display-4">Willkommen zu neuen Adressen:</h1>
    <p>Dein Benutzerbereich</p>
</div>