@page
@using AdressenMeister.Web.Models
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
    ViewBag.Mode = PageSection.Admin;
}

<div class="text-center">
    <h1 class="display-4">Willkommen zum AdressenMeister</h1>
    <p>Bitte melde dich an. Kontakt unter <a href="mailto:brenn@DnsEndPoint.net">brenn@depon.net</a>.</p>
</div>