@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Willkommen zum AdressenMeister</h1>
    <p>Bitte melde dich an. Kontakt unter brenn@depon.net.</p>
</div>